body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2; }

pre.hightlight {
  background: rgba(31, 64, 206, 0.2);
  border-radius: 5px;
  margin-top: 10px; }

code {
  font-size: 14px;
  line-height: 1; }
  code .comment {
    font-style: italic;
    color: gray; }
  code .import {
    color: #1f40ce; }
  code .selector {
    color: #8f0334; }
  code .extend,
  code .mixin {
    color: purple; }

.caption {
  background: #1f40ce linear-gradient(135deg, #1f40ce 50%, #1431c2 50%); }

.slide::after {
  padding-top: 0;
  top: 10px;
  right: 10px;
  left: auto;
  background: url("../pictures/drop.svg");
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  color: #1f40ce;
  padding-top: 20px; }

.slide.black::after {
  visibility: visible;
  color: #19fea0; }

.slide {
  font-family: "Arial", sans-serif;
  border: 15px solid #1f40ce;
  border-radius: 5px;
  padding: 60px 60px 0; }
  .slide.full {
    padding: 30px 60px; }
  .slide.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .slide.wide {
    border: none; }
  .slide.clear {
    border: none;
    padding: 0; }
    .slide.clear:after {
      opacity: 0; }

.progress {
  background: #19fea0;
  box-shadow: none; }

.slide h2 {
  font-family: "Arial", sans-serif;
  font-size: 64px;
  color: blue;
  text-align: center;
  font-weight: 900; }

.slide h2:after {
  display: block;
  margin: 20px auto;
  content: '';
  width: 50px;
  border-top: 4px solid #1f40ce; }

.slide h3 {
  font-size: 40px;
  color: #24292e; }

.black h3 {
  color: white; }

.columns {
  display: flex;
  justify-content: space-around;
  align-items: stretch; }
  .columns.center {
    align-items: center; }

.col {
  width: 50%;
  padding: 0 30px;
  flex: 1 0 50%; }
  .col h3 {
    background: rgba(25, 254, 160, 0.5);
    padding: 5px 15px;
    font-size: 24px;
    border-radius: 5px; }

#postcsssass {
  background: #e42829; }

#stylus h3 {
  margin-bottom: 30px; }

.terminal {
  padding: 10px 20px;
  background-color: gray;
  border-left: 3px solid #19fea0;
  margin-bottom: 30px;
  text-indent: 0; }

#adci > a {
  text-align: center; }

.grid {
  display: flex;
  align-items: center;
  justify-content: space-around; }

#bootstrap {
  padding-top: 100px; }
  #bootstrap h2 {
    margin-bottom: 50px; }
  #bootstrap a {
    background: none;
    text-align: center;
    border-bottom: none; }
  #bootstrap img {
    display: block; }

#drupal .grid {
  flex-wrap: wrap;
  align-items: flex-start; }

#drupal a {
  background: none;
  margin-bottom: 40px; }

.qr {
  text-align: center; }
  .qr img {
    display: block;
    margin-bottom: 5px; }
  .qr a {
    display: inline-block; }

#css-power {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding: 0;
  border: none;
  font: 16em/1 "Arial", sans-serif; }
  #css-power:after {
    opacity: 0; }
  #css-power .text--line {
    font-size: .5em; }
  #css-power svg {
    position: absolute;
    width: 100%;
    height: 100%; }
  #css-power .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    animation: stroke-offset infinite 9s ease-in-out; }
    #css-power .text-copy:nth-child(1) {
      stroke: #360745;
      stroke-dashoffset: 7%; }
    #css-power .text-copy:nth-child(2) {
      stroke: #D61C59;
      stroke-dashoffset: 14%; }
    #css-power .text-copy:nth-child(3) {
      stroke: #E7D84B;
      stroke-dashoffset: 21%; }
    #css-power .text-copy:nth-child(4) {
      stroke: #EFEAC5;
      stroke-dashoffset: 28%; }
    #css-power .text-copy:nth-child(5) {
      stroke: #1B8798;
      stroke-dashoffset: 35%; }

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%; } }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1246px 236px #FFF , 809px 1244px #FFF , 1156px 282px #FFF , 1705px 598px #FFF , 962px 1241px #FFF , 51px 912px #FFF , 74px 157px #FFF , 990px 108px #FFF , 65px 567px #FFF , 855px 603px #FFF , 943px 713px #FFF , 1495px 74px #FFF , 1690px 840px #FFF , 712px 87px #FFF , 498px 745px #FFF , 1261px 1449px #FFF , 452px 1337px #FFF , 1925px 1229px #FFF , 1932px 725px #FFF , 1122px 843px #FFF , 883px 1891px #FFF , 1827px 1221px #FFF , 1169px 468px #FFF , 1939px 954px #FFF , 1790px 1358px #FFF , 502px 1749px #FFF , 1496px 1030px #FFF , 1683px 107px #FFF , 1750px 1048px #FFF , 1341px 765px #FFF , 559px 1623px #FFF , 726px 1151px #FFF , 354px 823px #FFF , 1082px 1592px #FFF , 450px 554px #FFF , 1845px 619px #FFF , 1502px 1989px #FFF , 1668px 474px #FFF , 1865px 499px #FFF , 1474px 440px #FFF , 1932px 1629px #FFF , 184px 714px #FFF , 1146px 1252px #FFF , 756px 1926px #FFF , 1920px 384px #FFF , 998px 211px #FFF , 1899px 856px #FFF , 513px 846px #FFF , 344px 1183px #FFF , 409px 1163px #FFF , 940px 1506px #FFF , 1199px 1370px #FFF , 1961px 435px #FFF , 369px 576px #FFF , 148px 520px #FFF , 1913px 1305px #FFF , 575px 247px #FFF , 1065px 1445px #FFF , 531px 801px #FFF , 1052px 401px #FFF , 1032px 1858px #FFF , 1710px 1521px #FFF , 796px 1469px #FFF , 1751px 1573px #FFF , 91px 1150px #FFF , 749px 1580px #FFF , 1380px 961px #FFF , 1245px 359px #FFF , 1280px 204px #FFF , 14px 1070px #FFF , 1142px 702px #FFF , 1244px 737px #FFF , 1091px 1244px #FFF , 318px 712px #FFF , 747px 61px #FFF , 1931px 1664px #FFF , 1023px 1383px #FFF , 272px 1701px #FFF , 1922px 1699px #FFF , 351px 1286px #FFF , 1019px 1186px #FFF , 1810px 1957px #FFF , 1281px 1511px #FFF , 759px 681px #FFF , 392px 56px #FFF , 858px 494px #FFF , 1111px 981px #FFF , 1971px 718px #FFF , 829px 228px #FFF , 1890px 1800px #FFF , 1387px 171px #FFF , 1567px 1001px #FFF , 1332px 1524px #FFF , 257px 1001px #FFF , 1916px 1614px #FFF , 1818px 1015px #FFF , 1703px 1606px #FFF , 836px 300px #FFF , 928px 438px #FFF , 1444px 584px #FFF , 515px 1197px #FFF , 79px 725px #FFF , 374px 1541px #FFF , 793px 1375px #FFF , 450px 1182px #FFF , 513px 490px #FFF , 72px 1974px #FFF , 1161px 913px #FFF , 578px 166px #FFF , 1498px 1509px #FFF , 1338px 657px #FFF , 1438px 1775px #FFF , 218px 1745px #FFF , 264px 243px #FFF , 1443px 1209px #FFF , 46px 1316px #FFF , 824px 1672px #FFF , 280px 1780px #FFF , 1730px 1505px #FFF , 1504px 1534px #FFF , 465px 404px #FFF , 1979px 1618px #FFF , 1074px 1314px #FFF , 1378px 505px #FFF , 1038px 265px #FFF , 1035px 1554px #FFF , 1530px 127px #FFF , 1972px 1650px #FFF , 1039px 723px #FFF , 1988px 697px #FFF , 1443px 1044px #FFF , 1082px 1971px #FFF , 1613px 425px #FFF , 1009px 1868px #FFF , 139px 265px #FFF , 1291px 39px #FFF , 29px 346px #FFF , 838px 1276px #FFF , 1414px 545px #FFF , 992px 188px #FFF , 1815px 1250px #FFF , 1397px 107px #FFF , 1476px 231px #FFF , 463px 1298px #FFF , 197px 1376px #FFF , 695px 616px #FFF , 420px 1592px #FFF , 392px 1582px #FFF , 1317px 1865px #FFF , 235px 930px #FFF , 1029px 1621px #FFF , 1512px 324px #FFF , 631px 517px #FFF , 1921px 763px #FFF , 459px 318px #FFF , 587px 1559px #FFF , 270px 639px #FFF , 204px 354px #FFF , 651px 1546px #FFF , 1824px 1911px #FFF , 620px 218px #FFF , 1805px 554px #FFF , 1506px 1654px #FFF , 1082px 425px #FFF , 1901px 511px #FFF , 1031px 1020px #FFF , 763px 1913px #FFF , 151px 1874px #FFF , 57px 91px #FFF , 508px 621px #FFF , 1222px 1969px #FFF , 1735px 1436px #FFF , 1616px 16px #FFF , 435px 820px #FFF , 1144px 708px #FFF , 1629px 1689px #FFF , 1912px 1637px #FFF , 720px 1233px #FFF , 826px 890px #FFF , 1823px 1922px #FFF , 1426px 1769px #FFF , 1320px 634px #FFF , 585px 1337px #FFF , 878px 1870px #FFF , 1492px 780px #FFF , 323px 1511px #FFF , 1802px 1725px #FFF , 1446px 993px #FFF , 1410px 1230px #FFF , 1436px 727px #FFF , 955px 22px #FFF , 1831px 1231px #FFF , 284px 520px #FFF , 729px 271px #FFF , 1349px 378px #FFF , 1755px 1463px #FFF , 1304px 853px #FFF , 1739px 607px #FFF , 1103px 498px #FFF , 1733px 25px #FFF , 217px 1334px #FFF , 1039px 1202px #FFF , 1728px 499px #FFF , 90px 403px #FFF , 1371px 176px #FFF , 277px 583px #FFF , 1851px 19px #FFF , 1021px 54px #FFF , 1388px 624px #FFF , 226px 632px #FFF , 133px 431px #FFF , 1370px 613px #FFF , 1550px 1499px #FFF , 676px 1419px #FFF , 1044px 731px #FFF , 429px 1489px #FFF , 1601px 1220px #FFF , 1718px 1898px #FFF , 1542px 100px #FFF , 888px 190px #FFF , 5px 193px #FFF , 992px 1556px #FFF , 1270px 1142px #FFF , 1668px 134px #FFF , 1394px 173px #FFF , 984px 83px #FFF , 8px 441px #FFF , 685px 742px #FFF , 1552px 1165px #FFF , 1914px 1175px #FFF , 64px 1866px #FFF , 997px 1479px #FFF , 525px 455px #FFF , 1934px 1358px #FFF , 1772px 218px #FFF , 1794px 1197px #FFF , 1937px 149px #FFF , 1988px 719px #FFF , 1097px 896px #FFF , 93px 197px #FFF , 1914px 695px #FFF , 1938px 1367px #FFF , 1219px 144px #FFF , 247px 605px #FFF , 1630px 484px #FFF , 1139px 959px #FFF , 865px 222px #FFF , 1235px 778px #FFF , 1787px 489px #FFF , 942px 1281px #FFF , 1926px 1470px #FFF , 839px 1808px #FFF , 534px 620px #FFF , 1899px 1806px #FFF , 1329px 191px #FFF , 10px 1px #FFF , 639px 1022px #FFF , 801px 456px #FFF , 366px 782px #FFF , 1490px 879px #FFF , 851px 625px #FFF , 709px 1942px #FFF , 642px 1418px #FFF , 1276px 387px #FFF , 889px 1210px #FFF , 147px 755px #FFF , 170px 1055px #FFF , 1615px 1237px #FFF , 1166px 1433px #FFF , 1815px 887px #FFF , 148px 348px #FFF , 451px 1846px #FFF , 1425px 353px #FFF , 1069px 1332px #FFF , 1968px 316px #FFF , 545px 846px #FFF , 1729px 1536px #FFF , 708px 832px #FFF , 994px 365px #FFF , 1632px 137px #FFF , 943px 1204px #FFF , 1088px 360px #FFF , 1587px 165px #FFF , 1509px 572px #FFF , 1880px 674px #FFF , 1560px 1406px #FFF , 365px 1611px #FFF , 405px 1240px #FFF , 683px 412px #FFF , 116px 973px #FFF , 449px 1302px #FFF , 1226px 1955px #FFF , 1416px 816px #FFF , 1683px 1644px #FFF , 319px 761px #FFF , 1491px 684px #FFF , 1893px 1816px #FFF , 849px 1657px #FFF , 683px 446px #FFF , 1418px 1333px #FFF , 1278px 544px #FFF , 1558px 860px #FFF , 348px 958px #FFF , 275px 1464px #FFF , 529px 28px #FFF , 1305px 1168px #FFF , 1392px 1183px #FFF , 1227px 1834px #FFF , 269px 1760px #FFF , 1008px 760px #FFF , 637px 261px #FFF , 1545px 1842px #FFF , 391px 608px #FFF , 1777px 967px #FFF , 692px 301px #FFF , 232px 1596px #FFF , 684px 647px #FFF , 1443px 1284px #FFF , 295px 153px #FFF , 1896px 26px #FFF , 220px 659px #FFF , 1972px 703px #FFF , 1276px 959px #FFF , 1785px 1550px #FFF , 578px 1477px #FFF , 754px 1108px #FFF , 540px 415px #FFF , 701px 504px #FFF , 1599px 1411px #FFF , 96px 1839px #FFF , 351px 387px #FFF , 156px 1026px #FFF , 533px 892px #FFF , 258px 1931px #FFF , 54px 902px #FFF , 971px 554px #FFF , 714px 444px #FFF , 209px 1799px #FFF , 835px 1273px #FFF , 1306px 1163px #FFF , 177px 1735px #FFF , 1987px 384px #FFF , 1037px 537px #FFF , 1366px 1650px #FFF , 885px 913px #FFF , 1674px 330px #FFF , 1190px 1086px #FFF , 1242px 271px #FFF , 393px 1066px #FFF , 27px 1932px #FFF , 1223px 1103px #FFF , 1399px 929px #FFF , 1066px 1461px #FFF , 1033px 791px #FFF , 1691px 1241px #FFF , 880px 1443px #FFF , 1801px 461px #FFF , 1499px 99px #FFF , 1937px 1875px #FFF , 1325px 459px #FFF , 1881px 310px #FFF , 1388px 213px #FFF , 497px 1872px #FFF , 1970px 805px #FFF , 546px 950px #FFF , 832px 108px #FFF , 1951px 18px #FFF , 1263px 292px #FFF , 73px 112px #FFF , 1356px 1242px #FFF , 1460px 532px #FFF , 1324px 1743px #FFF , 594px 377px #FFF , 1946px 1097px #FFF , 612px 985px #FFF , 485px 1845px #FFF , 1668px 1767px #FFF , 582px 1743px #FFF , 1999px 1299px #FFF , 273px 719px #FFF , 669px 291px #FFF , 1149px 1624px #FFF , 1556px 343px #FFF , 755px 817px #FFF , 1055px 1526px #FFF , 881px 1930px #FFF , 219px 461px #FFF , 1547px 1910px #FFF , 416px 142px #FFF , 1631px 1308px #FFF , 1269px 425px #FFF , 1709px 520px #FFF , 1189px 1159px #FFF , 700px 970px #FFF , 251px 662px #FFF , 830px 426px #FFF , 250px 1880px #FFF , 1659px 1009px #FFF , 524px 1445px #FFF , 1857px 1106px #FFF , 611px 1098px #FFF , 158px 1214px #FFF , 1469px 1651px #FFF , 9px 803px #FFF , 541px 1863px #FFF , 891px 1237px #FFF , 1376px 901px #FFF , 1360px 1107px #FFF , 437px 1485px #FFF , 937px 821px #FFF , 1627px 1103px #FFF , 1457px 1062px #FFF , 979px 742px #FFF , 1526px 183px #FFF , 1146px 1232px #FFF , 440px 1177px #FFF , 1047px 1966px #FFF , 338px 235px #FFF , 348px 685px #FFF , 724px 1184px #FFF , 176px 1355px #FFF , 405px 1904px #FFF , 1332px 605px #FFF , 822px 328px #FFF , 1381px 736px #FFF , 561px 1457px #FFF , 450px 610px #FFF , 1650px 1944px #FFF , 53px 1660px #FFF , 1712px 1043px #FFF , 1788px 306px #FFF , 817px 1705px #FFF , 1873px 1061px #FFF , 766px 117px #FFF , 1934px 453px #FFF , 988px 140px #FFF , 1510px 1315px #FFF , 831px 229px #FFF , 491px 1399px #FFF , 480px 833px #FFF , 1310px 1845px #FFF , 1338px 254px #FFF , 447px 1713px #FFF , 1458px 512px #FFF , 1623px 1578px #FFF , 803px 736px #FFF , 609px 1401px #FFF , 1296px 116px #FFF , 1678px 1859px #FFF , 432px 25px #FFF , 1612px 866px #FFF , 1501px 48px #FFF , 202px 153px #FFF , 1322px 1873px #FFF , 487px 1179px #FFF , 1799px 1301px #FFF , 291px 738px #FFF , 705px 212px #FFF , 597px 1630px #FFF , 1259px 533px #FFF , 1258px 506px #FFF , 2000px 1001px #FFF , 1059px 10px #FFF , 1341px 1101px #FFF , 51px 1482px #FFF , 451px 1639px #FFF , 1344px 40px #FFF , 596px 937px #FFF , 1173px 263px #FFF , 760px 61px #FFF , 284px 251px #FFF , 1107px 621px #FFF , 1887px 1872px #FFF , 983px 587px #FFF , 208px 790px #FFF , 1201px 1029px #FFF , 1412px 30px #FFF , 41px 1763px #FFF , 1203px 444px #FFF , 1122px 805px #FFF , 459px 1040px #FFF , 1181px 844px #FFF , 1025px 466px #FFF , 1493px 1126px #FFF , 1054px 1088px #FFF , 999px 1914px #FFF , 1351px 1600px #FFF , 1850px 1637px #FFF , 780px 1787px #FFF , 805px 206px #FFF , 243px 1842px #FFF , 657px 1903px #FFF , 169px 1989px #FFF , 43px 242px #FFF , 502px 550px #FFF , 799px 801px #FFF , 1235px 742px #FFF , 1251px 1710px #FFF , 359px 1068px #FFF , 1605px 1473px #FFF , 483px 1403px #FFF , 677px 324px #FFF , 124px 1802px #FFF , 1238px 354px #FFF , 1558px 960px #FFF , 355px 1666px #FFF , 238px 2px #FFF , 1783px 1597px #FFF , 803px 60px #FFF , 999px 839px #FFF , 1386px 1837px #FFF , 1775px 170px #FFF , 54px 1165px #FFF , 1218px 1937px #FFF , 1724px 1210px #FFF , 1691px 945px #FFF , 1920px 989px #FFF , 998px 1831px #FFF , 314px 537px #FFF , 1755px 597px #FFF , 648px 1856px #FFF , 838px 1585px #FFF , 1141px 431px #FFF , 72px 1067px #FFF , 336px 1543px #FFF , 1242px 1809px #FFF , 715px 943px #FFF , 1573px 38px #FFF , 866px 1660px #FFF , 1251px 1865px #FFF , 525px 1092px #FFF , 171px 781px #FFF , 1983px 994px #FFF , 1402px 466px #FFF , 867px 683px #FFF , 510px 667px #FFF , 17px 351px #FFF , 708px 1895px #FFF , 1364px 189px #FFF , 999px 1346px #FFF , 1495px 1853px #FFF , 1672px 1366px #FFF , 223px 187px #FFF , 475px 447px #FFF , 1087px 134px #FFF , 346px 1440px #FFF , 524px 206px #FFF , 51px 638px #FFF , 1373px 1251px #FFF , 1393px 261px #FFF , 1632px 537px #FFF , 866px 1204px #FFF , 21px 593px #FFF , 1089px 474px #FFF , 1538px 471px #FFF , 1333px 360px #FFF , 700px 1630px #FFF , 1618px 882px #FFF , 761px 367px #FFF , 142px 18px #FFF , 78px 1736px #FFF , 1240px 183px #FFF , 1159px 1403px #FFF , 1661px 1849px #FFF , 196px 371px #FFF , 13px 1299px #FFF , 1252px 486px #FFF , 1285px 61px #FFF , 1851px 529px #FFF , 469px 753px #FFF , 1538px 78px #FFF , 276px 1111px #FFF , 216px 186px #FFF , 1135px 1862px #FFF , 905px 703px #FFF , 26px 891px #FFF , 380px 359px #FFF , 1452px 1939px #FFF , 732px 1647px #FFF , 1384px 1043px #FFF , 1261px 1943px #FFF , 52px 531px #FFF , 294px 1617px #FFF , 1662px 555px #FFF , 1042px 1883px #FFF , 1665px 985px #FFF , 520px 173px #FFF , 92px 858px #FFF , 915px 748px #FFF , 643px 920px #FFF , 206px 94px #FFF , 715px 295px #FFF , 1043px 156px #FFF , 1570px 1937px #FFF , 728px 986px #FFF , 1517px 1345px #FFF , 1420px 1771px #FFF , 319px 1636px #FFF , 365px 764px #FFF , 1367px 1459px #FFF , 78px 1195px #FFF , 1312px 164px #FFF , 122px 1855px #FFF , 252px 1817px #FFF , 920px 1767px #FFF , 1098px 382px #FFF , 1617px 1526px #FFF , 780px 1334px #FFF , 1489px 8px #FFF , 993px 54px #FFF , 1645px 4px #FFF , 1555px 1833px #FFF , 173px 1700px #FFF , 1958px 1394px #FFF , 248px 99px #FFF , 1841px 457px #FFF , 908px 894px #FFF , 343px 1734px #FFF , 1863px 1942px #FFF , 144px 795px #FFF , 1524px 540px #FFF , 1847px 821px #FFF , 1065px 1404px #FFF , 17px 1602px #FFF , 139px 1613px #FFF , 1729px 33px #FFF , 953px 1129px #FFF , 487px 886px #FFF , 671px 103px #FFF , 1481px 180px #FFF , 987px 905px #FFF , 172px 950px #FFF , 915px 727px #FFF , 1609px 1635px #FFF , 14px 686px #FFF , 470px 912px #FFF , 224px 23px #FFF , 1604px 1935px #FFF , 340px 1237px #FFF , 725px 23px #FFF , 1873px 158px #FFF , 1522px 155px #FFF , 876px 718px #FFF , 1321px 298px #FFF , 692px 1112px #FFF , 936px 1510px #FFF , 928px 303px #FFF , 1321px 1706px #FFF , 1525px 1301px #FFF , 1635px 1169px #FFF , 1760px 1003px #FFF , 1811px 845px #FFF , 141px 1172px #FFF , 1538px 1902px #FFF , 1240px 1985px #FFF , 781px 1623px #FFF , 1004px 370px #FFF , 1202px 1267px #FFF , 243px 592px #FFF , 958px 378px #FFF , 769px 1464px #FFF , 1843px 920px #FFF , 877px 770px #FFF , 1882px 1928px #FFF , 415px 1968px #FFF , 369px 1764px #FFF , 1863px 1051px #FFF , 1443px 1850px #FFF , 1875px 1518px #FFF , 196px 1196px #FFF , 344px 1333px #FFF , 1981px 463px #FFF , 1197px 901px #FFF , 214px 1276px #FFF , 839px 1043px #FFF , 1076px 1969px #FFF , 1745px 805px #FFF , 1377px 220px #FFF , 1735px 1438px #FFF , 1196px 1751px #FFF , 12px 570px #FFF , 318px 413px #FFF , 1873px 873px #FFF , 1973px 1571px #FFF , 1935px 474px #FFF , 1959px 1752px #FFF , 1092px 1062px #FFF , 1444px 168px #FFF , 1220px 1233px #FFF , 937px 1264px #FFF , 1660px 1902px #FFF , 831px 414px #FFF , 357px 443px #FFF , 1989px 259px #FFF , 238px 1281px #FFF , 1916px 1014px #FFF , 349px 1999px #FFF , 1449px 493px #FFF , 883px 62px #FFF , 1289px 611px #FFF;
  animation: animStar 50s linear infinite; }

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1246px 236px #FFF , 809px 1244px #FFF , 1156px 282px #FFF , 1705px 598px #FFF , 962px 1241px #FFF , 51px 912px #FFF , 74px 157px #FFF , 990px 108px #FFF , 65px 567px #FFF , 855px 603px #FFF , 943px 713px #FFF , 1495px 74px #FFF , 1690px 840px #FFF , 712px 87px #FFF , 498px 745px #FFF , 1261px 1449px #FFF , 452px 1337px #FFF , 1925px 1229px #FFF , 1932px 725px #FFF , 1122px 843px #FFF , 883px 1891px #FFF , 1827px 1221px #FFF , 1169px 468px #FFF , 1939px 954px #FFF , 1790px 1358px #FFF , 502px 1749px #FFF , 1496px 1030px #FFF , 1683px 107px #FFF , 1750px 1048px #FFF , 1341px 765px #FFF , 559px 1623px #FFF , 726px 1151px #FFF , 354px 823px #FFF , 1082px 1592px #FFF , 450px 554px #FFF , 1845px 619px #FFF , 1502px 1989px #FFF , 1668px 474px #FFF , 1865px 499px #FFF , 1474px 440px #FFF , 1932px 1629px #FFF , 184px 714px #FFF , 1146px 1252px #FFF , 756px 1926px #FFF , 1920px 384px #FFF , 998px 211px #FFF , 1899px 856px #FFF , 513px 846px #FFF , 344px 1183px #FFF , 409px 1163px #FFF , 940px 1506px #FFF , 1199px 1370px #FFF , 1961px 435px #FFF , 369px 576px #FFF , 148px 520px #FFF , 1913px 1305px #FFF , 575px 247px #FFF , 1065px 1445px #FFF , 531px 801px #FFF , 1052px 401px #FFF , 1032px 1858px #FFF , 1710px 1521px #FFF , 796px 1469px #FFF , 1751px 1573px #FFF , 91px 1150px #FFF , 749px 1580px #FFF , 1380px 961px #FFF , 1245px 359px #FFF , 1280px 204px #FFF , 14px 1070px #FFF , 1142px 702px #FFF , 1244px 737px #FFF , 1091px 1244px #FFF , 318px 712px #FFF , 747px 61px #FFF , 1931px 1664px #FFF , 1023px 1383px #FFF , 272px 1701px #FFF , 1922px 1699px #FFF , 351px 1286px #FFF , 1019px 1186px #FFF , 1810px 1957px #FFF , 1281px 1511px #FFF , 759px 681px #FFF , 392px 56px #FFF , 858px 494px #FFF , 1111px 981px #FFF , 1971px 718px #FFF , 829px 228px #FFF , 1890px 1800px #FFF , 1387px 171px #FFF , 1567px 1001px #FFF , 1332px 1524px #FFF , 257px 1001px #FFF , 1916px 1614px #FFF , 1818px 1015px #FFF , 1703px 1606px #FFF , 836px 300px #FFF , 928px 438px #FFF , 1444px 584px #FFF , 515px 1197px #FFF , 79px 725px #FFF , 374px 1541px #FFF , 793px 1375px #FFF , 450px 1182px #FFF , 513px 490px #FFF , 72px 1974px #FFF , 1161px 913px #FFF , 578px 166px #FFF , 1498px 1509px #FFF , 1338px 657px #FFF , 1438px 1775px #FFF , 218px 1745px #FFF , 264px 243px #FFF , 1443px 1209px #FFF , 46px 1316px #FFF , 824px 1672px #FFF , 280px 1780px #FFF , 1730px 1505px #FFF , 1504px 1534px #FFF , 465px 404px #FFF , 1979px 1618px #FFF , 1074px 1314px #FFF , 1378px 505px #FFF , 1038px 265px #FFF , 1035px 1554px #FFF , 1530px 127px #FFF , 1972px 1650px #FFF , 1039px 723px #FFF , 1988px 697px #FFF , 1443px 1044px #FFF , 1082px 1971px #FFF , 1613px 425px #FFF , 1009px 1868px #FFF , 139px 265px #FFF , 1291px 39px #FFF , 29px 346px #FFF , 838px 1276px #FFF , 1414px 545px #FFF , 992px 188px #FFF , 1815px 1250px #FFF , 1397px 107px #FFF , 1476px 231px #FFF , 463px 1298px #FFF , 197px 1376px #FFF , 695px 616px #FFF , 420px 1592px #FFF , 392px 1582px #FFF , 1317px 1865px #FFF , 235px 930px #FFF , 1029px 1621px #FFF , 1512px 324px #FFF , 631px 517px #FFF , 1921px 763px #FFF , 459px 318px #FFF , 587px 1559px #FFF , 270px 639px #FFF , 204px 354px #FFF , 651px 1546px #FFF , 1824px 1911px #FFF , 620px 218px #FFF , 1805px 554px #FFF , 1506px 1654px #FFF , 1082px 425px #FFF , 1901px 511px #FFF , 1031px 1020px #FFF , 763px 1913px #FFF , 151px 1874px #FFF , 57px 91px #FFF , 508px 621px #FFF , 1222px 1969px #FFF , 1735px 1436px #FFF , 1616px 16px #FFF , 435px 820px #FFF , 1144px 708px #FFF , 1629px 1689px #FFF , 1912px 1637px #FFF , 720px 1233px #FFF , 826px 890px #FFF , 1823px 1922px #FFF , 1426px 1769px #FFF , 1320px 634px #FFF , 585px 1337px #FFF , 878px 1870px #FFF , 1492px 780px #FFF , 323px 1511px #FFF , 1802px 1725px #FFF , 1446px 993px #FFF , 1410px 1230px #FFF , 1436px 727px #FFF , 955px 22px #FFF , 1831px 1231px #FFF , 284px 520px #FFF , 729px 271px #FFF , 1349px 378px #FFF , 1755px 1463px #FFF , 1304px 853px #FFF , 1739px 607px #FFF , 1103px 498px #FFF , 1733px 25px #FFF , 217px 1334px #FFF , 1039px 1202px #FFF , 1728px 499px #FFF , 90px 403px #FFF , 1371px 176px #FFF , 277px 583px #FFF , 1851px 19px #FFF , 1021px 54px #FFF , 1388px 624px #FFF , 226px 632px #FFF , 133px 431px #FFF , 1370px 613px #FFF , 1550px 1499px #FFF , 676px 1419px #FFF , 1044px 731px #FFF , 429px 1489px #FFF , 1601px 1220px #FFF , 1718px 1898px #FFF , 1542px 100px #FFF , 888px 190px #FFF , 5px 193px #FFF , 992px 1556px #FFF , 1270px 1142px #FFF , 1668px 134px #FFF , 1394px 173px #FFF , 984px 83px #FFF , 8px 441px #FFF , 685px 742px #FFF , 1552px 1165px #FFF , 1914px 1175px #FFF , 64px 1866px #FFF , 997px 1479px #FFF , 525px 455px #FFF , 1934px 1358px #FFF , 1772px 218px #FFF , 1794px 1197px #FFF , 1937px 149px #FFF , 1988px 719px #FFF , 1097px 896px #FFF , 93px 197px #FFF , 1914px 695px #FFF , 1938px 1367px #FFF , 1219px 144px #FFF , 247px 605px #FFF , 1630px 484px #FFF , 1139px 959px #FFF , 865px 222px #FFF , 1235px 778px #FFF , 1787px 489px #FFF , 942px 1281px #FFF , 1926px 1470px #FFF , 839px 1808px #FFF , 534px 620px #FFF , 1899px 1806px #FFF , 1329px 191px #FFF , 10px 1px #FFF , 639px 1022px #FFF , 801px 456px #FFF , 366px 782px #FFF , 1490px 879px #FFF , 851px 625px #FFF , 709px 1942px #FFF , 642px 1418px #FFF , 1276px 387px #FFF , 889px 1210px #FFF , 147px 755px #FFF , 170px 1055px #FFF , 1615px 1237px #FFF , 1166px 1433px #FFF , 1815px 887px #FFF , 148px 348px #FFF , 451px 1846px #FFF , 1425px 353px #FFF , 1069px 1332px #FFF , 1968px 316px #FFF , 545px 846px #FFF , 1729px 1536px #FFF , 708px 832px #FFF , 994px 365px #FFF , 1632px 137px #FFF , 943px 1204px #FFF , 1088px 360px #FFF , 1587px 165px #FFF , 1509px 572px #FFF , 1880px 674px #FFF , 1560px 1406px #FFF , 365px 1611px #FFF , 405px 1240px #FFF , 683px 412px #FFF , 116px 973px #FFF , 449px 1302px #FFF , 1226px 1955px #FFF , 1416px 816px #FFF , 1683px 1644px #FFF , 319px 761px #FFF , 1491px 684px #FFF , 1893px 1816px #FFF , 849px 1657px #FFF , 683px 446px #FFF , 1418px 1333px #FFF , 1278px 544px #FFF , 1558px 860px #FFF , 348px 958px #FFF , 275px 1464px #FFF , 529px 28px #FFF , 1305px 1168px #FFF , 1392px 1183px #FFF , 1227px 1834px #FFF , 269px 1760px #FFF , 1008px 760px #FFF , 637px 261px #FFF , 1545px 1842px #FFF , 391px 608px #FFF , 1777px 967px #FFF , 692px 301px #FFF , 232px 1596px #FFF , 684px 647px #FFF , 1443px 1284px #FFF , 295px 153px #FFF , 1896px 26px #FFF , 220px 659px #FFF , 1972px 703px #FFF , 1276px 959px #FFF , 1785px 1550px #FFF , 578px 1477px #FFF , 754px 1108px #FFF , 540px 415px #FFF , 701px 504px #FFF , 1599px 1411px #FFF , 96px 1839px #FFF , 351px 387px #FFF , 156px 1026px #FFF , 533px 892px #FFF , 258px 1931px #FFF , 54px 902px #FFF , 971px 554px #FFF , 714px 444px #FFF , 209px 1799px #FFF , 835px 1273px #FFF , 1306px 1163px #FFF , 177px 1735px #FFF , 1987px 384px #FFF , 1037px 537px #FFF , 1366px 1650px #FFF , 885px 913px #FFF , 1674px 330px #FFF , 1190px 1086px #FFF , 1242px 271px #FFF , 393px 1066px #FFF , 27px 1932px #FFF , 1223px 1103px #FFF , 1399px 929px #FFF , 1066px 1461px #FFF , 1033px 791px #FFF , 1691px 1241px #FFF , 880px 1443px #FFF , 1801px 461px #FFF , 1499px 99px #FFF , 1937px 1875px #FFF , 1325px 459px #FFF , 1881px 310px #FFF , 1388px 213px #FFF , 497px 1872px #FFF , 1970px 805px #FFF , 546px 950px #FFF , 832px 108px #FFF , 1951px 18px #FFF , 1263px 292px #FFF , 73px 112px #FFF , 1356px 1242px #FFF , 1460px 532px #FFF , 1324px 1743px #FFF , 594px 377px #FFF , 1946px 1097px #FFF , 612px 985px #FFF , 485px 1845px #FFF , 1668px 1767px #FFF , 582px 1743px #FFF , 1999px 1299px #FFF , 273px 719px #FFF , 669px 291px #FFF , 1149px 1624px #FFF , 1556px 343px #FFF , 755px 817px #FFF , 1055px 1526px #FFF , 881px 1930px #FFF , 219px 461px #FFF , 1547px 1910px #FFF , 416px 142px #FFF , 1631px 1308px #FFF , 1269px 425px #FFF , 1709px 520px #FFF , 1189px 1159px #FFF , 700px 970px #FFF , 251px 662px #FFF , 830px 426px #FFF , 250px 1880px #FFF , 1659px 1009px #FFF , 524px 1445px #FFF , 1857px 1106px #FFF , 611px 1098px #FFF , 158px 1214px #FFF , 1469px 1651px #FFF , 9px 803px #FFF , 541px 1863px #FFF , 891px 1237px #FFF , 1376px 901px #FFF , 1360px 1107px #FFF , 437px 1485px #FFF , 937px 821px #FFF , 1627px 1103px #FFF , 1457px 1062px #FFF , 979px 742px #FFF , 1526px 183px #FFF , 1146px 1232px #FFF , 440px 1177px #FFF , 1047px 1966px #FFF , 338px 235px #FFF , 348px 685px #FFF , 724px 1184px #FFF , 176px 1355px #FFF , 405px 1904px #FFF , 1332px 605px #FFF , 822px 328px #FFF , 1381px 736px #FFF , 561px 1457px #FFF , 450px 610px #FFF , 1650px 1944px #FFF , 53px 1660px #FFF , 1712px 1043px #FFF , 1788px 306px #FFF , 817px 1705px #FFF , 1873px 1061px #FFF , 766px 117px #FFF , 1934px 453px #FFF , 988px 140px #FFF , 1510px 1315px #FFF , 831px 229px #FFF , 491px 1399px #FFF , 480px 833px #FFF , 1310px 1845px #FFF , 1338px 254px #FFF , 447px 1713px #FFF , 1458px 512px #FFF , 1623px 1578px #FFF , 803px 736px #FFF , 609px 1401px #FFF , 1296px 116px #FFF , 1678px 1859px #FFF , 432px 25px #FFF , 1612px 866px #FFF , 1501px 48px #FFF , 202px 153px #FFF , 1322px 1873px #FFF , 487px 1179px #FFF , 1799px 1301px #FFF , 291px 738px #FFF , 705px 212px #FFF , 597px 1630px #FFF , 1259px 533px #FFF , 1258px 506px #FFF , 2000px 1001px #FFF , 1059px 10px #FFF , 1341px 1101px #FFF , 51px 1482px #FFF , 451px 1639px #FFF , 1344px 40px #FFF , 596px 937px #FFF , 1173px 263px #FFF , 760px 61px #FFF , 284px 251px #FFF , 1107px 621px #FFF , 1887px 1872px #FFF , 983px 587px #FFF , 208px 790px #FFF , 1201px 1029px #FFF , 1412px 30px #FFF , 41px 1763px #FFF , 1203px 444px #FFF , 1122px 805px #FFF , 459px 1040px #FFF , 1181px 844px #FFF , 1025px 466px #FFF , 1493px 1126px #FFF , 1054px 1088px #FFF , 999px 1914px #FFF , 1351px 1600px #FFF , 1850px 1637px #FFF , 780px 1787px #FFF , 805px 206px #FFF , 243px 1842px #FFF , 657px 1903px #FFF , 169px 1989px #FFF , 43px 242px #FFF , 502px 550px #FFF , 799px 801px #FFF , 1235px 742px #FFF , 1251px 1710px #FFF , 359px 1068px #FFF , 1605px 1473px #FFF , 483px 1403px #FFF , 677px 324px #FFF , 124px 1802px #FFF , 1238px 354px #FFF , 1558px 960px #FFF , 355px 1666px #FFF , 238px 2px #FFF , 1783px 1597px #FFF , 803px 60px #FFF , 999px 839px #FFF , 1386px 1837px #FFF , 1775px 170px #FFF , 54px 1165px #FFF , 1218px 1937px #FFF , 1724px 1210px #FFF , 1691px 945px #FFF , 1920px 989px #FFF , 998px 1831px #FFF , 314px 537px #FFF , 1755px 597px #FFF , 648px 1856px #FFF , 838px 1585px #FFF , 1141px 431px #FFF , 72px 1067px #FFF , 336px 1543px #FFF , 1242px 1809px #FFF , 715px 943px #FFF , 1573px 38px #FFF , 866px 1660px #FFF , 1251px 1865px #FFF , 525px 1092px #FFF , 171px 781px #FFF , 1983px 994px #FFF , 1402px 466px #FFF , 867px 683px #FFF , 510px 667px #FFF , 17px 351px #FFF , 708px 1895px #FFF , 1364px 189px #FFF , 999px 1346px #FFF , 1495px 1853px #FFF , 1672px 1366px #FFF , 223px 187px #FFF , 475px 447px #FFF , 1087px 134px #FFF , 346px 1440px #FFF , 524px 206px #FFF , 51px 638px #FFF , 1373px 1251px #FFF , 1393px 261px #FFF , 1632px 537px #FFF , 866px 1204px #FFF , 21px 593px #FFF , 1089px 474px #FFF , 1538px 471px #FFF , 1333px 360px #FFF , 700px 1630px #FFF , 1618px 882px #FFF , 761px 367px #FFF , 142px 18px #FFF , 78px 1736px #FFF , 1240px 183px #FFF , 1159px 1403px #FFF , 1661px 1849px #FFF , 196px 371px #FFF , 13px 1299px #FFF , 1252px 486px #FFF , 1285px 61px #FFF , 1851px 529px #FFF , 469px 753px #FFF , 1538px 78px #FFF , 276px 1111px #FFF , 216px 186px #FFF , 1135px 1862px #FFF , 905px 703px #FFF , 26px 891px #FFF , 380px 359px #FFF , 1452px 1939px #FFF , 732px 1647px #FFF , 1384px 1043px #FFF , 1261px 1943px #FFF , 52px 531px #FFF , 294px 1617px #FFF , 1662px 555px #FFF , 1042px 1883px #FFF , 1665px 985px #FFF , 520px 173px #FFF , 92px 858px #FFF , 915px 748px #FFF , 643px 920px #FFF , 206px 94px #FFF , 715px 295px #FFF , 1043px 156px #FFF , 1570px 1937px #FFF , 728px 986px #FFF , 1517px 1345px #FFF , 1420px 1771px #FFF , 319px 1636px #FFF , 365px 764px #FFF , 1367px 1459px #FFF , 78px 1195px #FFF , 1312px 164px #FFF , 122px 1855px #FFF , 252px 1817px #FFF , 920px 1767px #FFF , 1098px 382px #FFF , 1617px 1526px #FFF , 780px 1334px #FFF , 1489px 8px #FFF , 993px 54px #FFF , 1645px 4px #FFF , 1555px 1833px #FFF , 173px 1700px #FFF , 1958px 1394px #FFF , 248px 99px #FFF , 1841px 457px #FFF , 908px 894px #FFF , 343px 1734px #FFF , 1863px 1942px #FFF , 144px 795px #FFF , 1524px 540px #FFF , 1847px 821px #FFF , 1065px 1404px #FFF , 17px 1602px #FFF , 139px 1613px #FFF , 1729px 33px #FFF , 953px 1129px #FFF , 487px 886px #FFF , 671px 103px #FFF , 1481px 180px #FFF , 987px 905px #FFF , 172px 950px #FFF , 915px 727px #FFF , 1609px 1635px #FFF , 14px 686px #FFF , 470px 912px #FFF , 224px 23px #FFF , 1604px 1935px #FFF , 340px 1237px #FFF , 725px 23px #FFF , 1873px 158px #FFF , 1522px 155px #FFF , 876px 718px #FFF , 1321px 298px #FFF , 692px 1112px #FFF , 936px 1510px #FFF , 928px 303px #FFF , 1321px 1706px #FFF , 1525px 1301px #FFF , 1635px 1169px #FFF , 1760px 1003px #FFF , 1811px 845px #FFF , 141px 1172px #FFF , 1538px 1902px #FFF , 1240px 1985px #FFF , 781px 1623px #FFF , 1004px 370px #FFF , 1202px 1267px #FFF , 243px 592px #FFF , 958px 378px #FFF , 769px 1464px #FFF , 1843px 920px #FFF , 877px 770px #FFF , 1882px 1928px #FFF , 415px 1968px #FFF , 369px 1764px #FFF , 1863px 1051px #FFF , 1443px 1850px #FFF , 1875px 1518px #FFF , 196px 1196px #FFF , 344px 1333px #FFF , 1981px 463px #FFF , 1197px 901px #FFF , 214px 1276px #FFF , 839px 1043px #FFF , 1076px 1969px #FFF , 1745px 805px #FFF , 1377px 220px #FFF , 1735px 1438px #FFF , 1196px 1751px #FFF , 12px 570px #FFF , 318px 413px #FFF , 1873px 873px #FFF , 1973px 1571px #FFF , 1935px 474px #FFF , 1959px 1752px #FFF , 1092px 1062px #FFF , 1444px 168px #FFF , 1220px 1233px #FFF , 937px 1264px #FFF , 1660px 1902px #FFF , 831px 414px #FFF , 357px 443px #FFF , 1989px 259px #FFF , 238px 1281px #FFF , 1916px 1014px #FFF , 349px 1999px #FFF , 1449px 493px #FFF , 883px 62px #FFF , 1289px 611px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1308px 375px #FFF , 264px 917px #FFF , 1196px 1381px #FFF , 1635px 653px #FFF , 1619px 575px #FFF , 655px 1725px #FFF , 1489px 1844px #FFF , 1789px 670px #FFF , 337px 702px #FFF , 1447px 262px #FFF , 281px 1828px #FFF , 939px 112px #FFF , 1652px 1210px #FFF , 1002px 976px #FFF , 757px 1347px #FFF , 579px 1393px #FFF , 449px 41px #FFF , 1776px 503px #FFF , 1836px 1021px #FFF , 1436px 315px #FFF , 465px 1320px #FFF , 1491px 679px #FFF , 110px 1922px #FFF , 696px 80px #FFF , 737px 680px #FFF , 1891px 120px #FFF , 1256px 1581px #FFF , 1199px 1315px #FFF , 1858px 513px #FFF , 1516px 1912px #FFF , 1191px 277px #FFF , 406px 1090px #FFF , 915px 1219px #FFF , 678px 1672px #FFF , 1118px 548px #FFF , 1129px 785px #FFF , 1076px 1680px #FFF , 8px 1686px #FFF , 1248px 1923px #FFF , 971px 1006px #FFF , 976px 1575px #FFF , 112px 492px #FFF , 812px 350px #FFF , 808px 1591px #FFF , 1661px 856px #FFF , 1601px 1456px #FFF , 307px 277px #FFF , 1375px 306px #FFF , 1175px 731px #FFF , 673px 900px #FFF , 1000px 1000px #FFF , 1692px 1670px #FFF , 282px 840px #FFF , 1035px 1094px #FFF , 1458px 2px #FFF , 741px 1286px #FFF , 1253px 1949px #FFF , 1312px 1521px #FFF , 1559px 732px #FFF , 478px 1438px #FFF , 1109px 171px #FFF , 1806px 799px #FFF , 1508px 1920px #FFF , 1495px 617px #FFF , 156px 554px #FFF , 1900px 760px #FFF , 808px 847px #FFF , 228px 1920px #FFF , 1592px 388px #FFF , 1222px 579px #FFF , 1712px 1285px #FFF , 450px 1688px #FFF , 405px 1873px #FFF , 1338px 1077px #FFF , 1597px 1226px #FFF , 1495px 1313px #FFF , 255px 1809px #FFF , 1007px 794px #FFF , 581px 1265px #FFF , 1948px 755px #FFF , 1847px 1331px #FFF , 733px 589px #FFF , 544px 639px #FFF , 552px 841px #FFF , 1805px 1732px #FFF , 721px 1146px #FFF , 2000px 458px #FFF , 1989px 256px #FFF , 1599px 825px #FFF , 134px 1693px #FFF , 639px 769px #FFF , 251px 1445px #FFF , 406px 808px #FFF , 697px 264px #FFF , 384px 1705px #FFF , 336px 1660px #FFF , 631px 69px #FFF , 585px 1672px #FFF , 1411px 299px #FFF , 1058px 1142px #FFF , 251px 507px #FFF , 955px 1302px #FFF , 1705px 236px #FFF , 1578px 1248px #FFF , 1779px 1356px #FFF , 616px 1730px #FFF , 218px 1612px #FFF , 140px 689px #FFF , 254px 1829px #FFF , 1314px 1547px #FFF , 751px 1722px #FFF , 939px 1485px #FFF , 114px 754px #FFF , 1577px 143px #FFF , 1210px 793px #FFF , 1310px 1010px #FFF , 1969px 769px #FFF , 193px 1325px #FFF , 1531px 318px #FFF , 1402px 1399px #FFF , 1202px 1567px #FFF , 1709px 582px #FFF , 824px 1420px #FFF , 1832px 1514px #FFF , 543px 734px #FFF , 1856px 648px #FFF , 1366px 733px #FFF , 1283px 176px #FFF , 1688px 1550px #FFF , 614px 1078px #FFF , 1179px 1501px #FFF , 1202px 1384px #FFF , 1608px 494px #FFF , 1605px 1246px #FFF , 1036px 52px #FFF , 1416px 1415px #FFF , 1888px 52px #FFF , 291px 539px #FFF , 1682px 859px #FFF , 1673px 759px #FFF , 1493px 1556px #FFF , 1548px 392px #FFF , 572px 1116px #FFF , 932px 149px #FFF , 1283px 386px #FFF , 1820px 847px #FFF , 1613px 215px #FFF , 1437px 1179px #FFF , 1681px 1573px #FFF , 1019px 952px #FFF , 104px 1244px #FFF , 1432px 315px #FFF , 1652px 1094px #FFF , 184px 652px #FFF , 205px 1851px #FFF , 1509px 1648px #FFF , 1305px 464px #FFF , 72px 1811px #FFF , 1702px 601px #FFF , 664px 1659px #FFF , 1240px 534px #FFF , 735px 1532px #FFF , 83px 1836px #FFF , 446px 1714px #FFF , 753px 6px #FFF , 250px 963px #FFF , 1357px 684px #FFF , 727px 2px #FFF , 976px 1426px #FFF , 1610px 1991px #FFF , 709px 434px #FFF , 317px 1817px #FFF , 373px 481px #FFF , 810px 1585px #FFF , 495px 1647px #FFF , 1025px 1222px #FFF , 1525px 1423px #FFF , 450px 1818px #FFF , 1147px 101px #FFF , 339px 253px #FFF , 1776px 1164px #FFF , 1042px 449px #FFF , 663px 1959px #FFF , 531px 185px #FFF , 1914px 1902px #FFF , 744px 178px #FFF , 1627px 1886px #FFF , 1766px 972px #FFF , 1156px 1517px #FFF , 698px 646px #FFF , 183px 362px #FFF , 255px 1664px #FFF , 203px 611px #FFF , 610px 1307px #FFF , 227px 902px #FFF , 1489px 93px #FFF , 622px 666px #FFF , 1041px 391px #FFF , 50px 1040px #FFF , 1933px 1583px #FFF;
  animation: animStar 100s linear infinite; }

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1308px 375px #FFF , 264px 917px #FFF , 1196px 1381px #FFF , 1635px 653px #FFF , 1619px 575px #FFF , 655px 1725px #FFF , 1489px 1844px #FFF , 1789px 670px #FFF , 337px 702px #FFF , 1447px 262px #FFF , 281px 1828px #FFF , 939px 112px #FFF , 1652px 1210px #FFF , 1002px 976px #FFF , 757px 1347px #FFF , 579px 1393px #FFF , 449px 41px #FFF , 1776px 503px #FFF , 1836px 1021px #FFF , 1436px 315px #FFF , 465px 1320px #FFF , 1491px 679px #FFF , 110px 1922px #FFF , 696px 80px #FFF , 737px 680px #FFF , 1891px 120px #FFF , 1256px 1581px #FFF , 1199px 1315px #FFF , 1858px 513px #FFF , 1516px 1912px #FFF , 1191px 277px #FFF , 406px 1090px #FFF , 915px 1219px #FFF , 678px 1672px #FFF , 1118px 548px #FFF , 1129px 785px #FFF , 1076px 1680px #FFF , 8px 1686px #FFF , 1248px 1923px #FFF , 971px 1006px #FFF , 976px 1575px #FFF , 112px 492px #FFF , 812px 350px #FFF , 808px 1591px #FFF , 1661px 856px #FFF , 1601px 1456px #FFF , 307px 277px #FFF , 1375px 306px #FFF , 1175px 731px #FFF , 673px 900px #FFF , 1000px 1000px #FFF , 1692px 1670px #FFF , 282px 840px #FFF , 1035px 1094px #FFF , 1458px 2px #FFF , 741px 1286px #FFF , 1253px 1949px #FFF , 1312px 1521px #FFF , 1559px 732px #FFF , 478px 1438px #FFF , 1109px 171px #FFF , 1806px 799px #FFF , 1508px 1920px #FFF , 1495px 617px #FFF , 156px 554px #FFF , 1900px 760px #FFF , 808px 847px #FFF , 228px 1920px #FFF , 1592px 388px #FFF , 1222px 579px #FFF , 1712px 1285px #FFF , 450px 1688px #FFF , 405px 1873px #FFF , 1338px 1077px #FFF , 1597px 1226px #FFF , 1495px 1313px #FFF , 255px 1809px #FFF , 1007px 794px #FFF , 581px 1265px #FFF , 1948px 755px #FFF , 1847px 1331px #FFF , 733px 589px #FFF , 544px 639px #FFF , 552px 841px #FFF , 1805px 1732px #FFF , 721px 1146px #FFF , 2000px 458px #FFF , 1989px 256px #FFF , 1599px 825px #FFF , 134px 1693px #FFF , 639px 769px #FFF , 251px 1445px #FFF , 406px 808px #FFF , 697px 264px #FFF , 384px 1705px #FFF , 336px 1660px #FFF , 631px 69px #FFF , 585px 1672px #FFF , 1411px 299px #FFF , 1058px 1142px #FFF , 251px 507px #FFF , 955px 1302px #FFF , 1705px 236px #FFF , 1578px 1248px #FFF , 1779px 1356px #FFF , 616px 1730px #FFF , 218px 1612px #FFF , 140px 689px #FFF , 254px 1829px #FFF , 1314px 1547px #FFF , 751px 1722px #FFF , 939px 1485px #FFF , 114px 754px #FFF , 1577px 143px #FFF , 1210px 793px #FFF , 1310px 1010px #FFF , 1969px 769px #FFF , 193px 1325px #FFF , 1531px 318px #FFF , 1402px 1399px #FFF , 1202px 1567px #FFF , 1709px 582px #FFF , 824px 1420px #FFF , 1832px 1514px #FFF , 543px 734px #FFF , 1856px 648px #FFF , 1366px 733px #FFF , 1283px 176px #FFF , 1688px 1550px #FFF , 614px 1078px #FFF , 1179px 1501px #FFF , 1202px 1384px #FFF , 1608px 494px #FFF , 1605px 1246px #FFF , 1036px 52px #FFF , 1416px 1415px #FFF , 1888px 52px #FFF , 291px 539px #FFF , 1682px 859px #FFF , 1673px 759px #FFF , 1493px 1556px #FFF , 1548px 392px #FFF , 572px 1116px #FFF , 932px 149px #FFF , 1283px 386px #FFF , 1820px 847px #FFF , 1613px 215px #FFF , 1437px 1179px #FFF , 1681px 1573px #FFF , 1019px 952px #FFF , 104px 1244px #FFF , 1432px 315px #FFF , 1652px 1094px #FFF , 184px 652px #FFF , 205px 1851px #FFF , 1509px 1648px #FFF , 1305px 464px #FFF , 72px 1811px #FFF , 1702px 601px #FFF , 664px 1659px #FFF , 1240px 534px #FFF , 735px 1532px #FFF , 83px 1836px #FFF , 446px 1714px #FFF , 753px 6px #FFF , 250px 963px #FFF , 1357px 684px #FFF , 727px 2px #FFF , 976px 1426px #FFF , 1610px 1991px #FFF , 709px 434px #FFF , 317px 1817px #FFF , 373px 481px #FFF , 810px 1585px #FFF , 495px 1647px #FFF , 1025px 1222px #FFF , 1525px 1423px #FFF , 450px 1818px #FFF , 1147px 101px #FFF , 339px 253px #FFF , 1776px 1164px #FFF , 1042px 449px #FFF , 663px 1959px #FFF , 531px 185px #FFF , 1914px 1902px #FFF , 744px 178px #FFF , 1627px 1886px #FFF , 1766px 972px #FFF , 1156px 1517px #FFF , 698px 646px #FFF , 183px 362px #FFF , 255px 1664px #FFF , 203px 611px #FFF , 610px 1307px #FFF , 227px 902px #FFF , 1489px 93px #FFF , 622px 666px #FFF , 1041px 391px #FFF , 50px 1040px #FFF , 1933px 1583px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 372px 423px #FFF , 1292px 1330px #FFF , 1092px 506px #FFF , 133px 1576px #FFF , 1668px 8px #FFF , 7px 669px #FFF , 1555px 978px #FFF , 1728px 149px #FFF , 507px 819px #FFF , 586px 854px #FFF , 1635px 1257px #FFF , 704px 991px #FFF , 1246px 255px #FFF , 1830px 192px #FFF , 1441px 1212px #FFF , 1795px 1131px #FFF , 1991px 1098px #FFF , 1640px 1727px #FFF , 1633px 1682px #FFF , 1838px 1943px #FFF , 1568px 1560px #FFF , 1799px 1755px #FFF , 1846px 426px #FFF , 738px 1780px #FFF , 1884px 84px #FFF , 811px 1893px #FFF , 1726px 625px #FFF , 1675px 1790px #FFF , 1146px 1018px #FFF , 1877px 787px #FFF , 747px 1304px #FFF , 1223px 552px #FFF , 682px 1401px #FFF , 1408px 1490px #FFF , 1941px 1431px #FFF , 984px 1356px #FFF , 1554px 283px #FFF , 219px 1426px #FFF , 238px 342px #FFF , 371px 484px #FFF , 1506px 1631px #FFF , 1383px 554px #FFF , 391px 1286px #FFF , 645px 1250px #FFF , 1531px 1967px #FFF , 1341px 163px #FFF , 240px 877px #FFF , 1367px 1097px #FFF , 638px 836px #FFF , 360px 979px #FFF , 1403px 1242px #FFF , 1272px 1685px #FFF , 275px 1846px #FFF , 1913px 1058px #FFF , 997px 1976px #FFF , 1638px 309px #FFF , 1816px 1665px #FFF , 766px 752px #FFF , 66px 1884px #FFF , 1214px 243px #FFF , 1117px 342px #FFF , 182px 883px #FFF , 1758px 1383px #FFF , 589px 304px #FFF , 1436px 1509px #FFF , 1348px 494px #FFF , 1721px 594px #FFF , 623px 422px #FFF , 320px 741px #FFF , 730px 717px #FFF , 180px 136px #FFF , 629px 1488px #FFF , 1154px 685px #FFF , 1644px 5px #FFF , 876px 814px #FFF , 1944px 653px #FFF , 1084px 424px #FFF , 1210px 200px #FFF , 531px 85px #FFF , 797px 165px #FFF , 1782px 327px #FFF , 10px 1603px #FFF , 888px 931px #FFF , 1356px 535px #FFF , 1515px 460px #FFF , 663px 1607px #FFF , 1344px 160px #FFF , 1982px 1965px #FFF , 775px 782px #FFF , 726px 341px #FFF , 1472px 1200px #FFF , 1868px 143px #FFF , 1582px 1299px #FFF , 566px 13px #FFF , 830px 155px #FFF , 397px 1758px #FFF , 1009px 914px #FFF , 1833px 1950px #FFF , 180px 51px #FFF , 1960px 1391px #FFF;
  animation: animStar 150s linear infinite; }

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 372px 423px #FFF , 1292px 1330px #FFF , 1092px 506px #FFF , 133px 1576px #FFF , 1668px 8px #FFF , 7px 669px #FFF , 1555px 978px #FFF , 1728px 149px #FFF , 507px 819px #FFF , 586px 854px #FFF , 1635px 1257px #FFF , 704px 991px #FFF , 1246px 255px #FFF , 1830px 192px #FFF , 1441px 1212px #FFF , 1795px 1131px #FFF , 1991px 1098px #FFF , 1640px 1727px #FFF , 1633px 1682px #FFF , 1838px 1943px #FFF , 1568px 1560px #FFF , 1799px 1755px #FFF , 1846px 426px #FFF , 738px 1780px #FFF , 1884px 84px #FFF , 811px 1893px #FFF , 1726px 625px #FFF , 1675px 1790px #FFF , 1146px 1018px #FFF , 1877px 787px #FFF , 747px 1304px #FFF , 1223px 552px #FFF , 682px 1401px #FFF , 1408px 1490px #FFF , 1941px 1431px #FFF , 984px 1356px #FFF , 1554px 283px #FFF , 219px 1426px #FFF , 238px 342px #FFF , 371px 484px #FFF , 1506px 1631px #FFF , 1383px 554px #FFF , 391px 1286px #FFF , 645px 1250px #FFF , 1531px 1967px #FFF , 1341px 163px #FFF , 240px 877px #FFF , 1367px 1097px #FFF , 638px 836px #FFF , 360px 979px #FFF , 1403px 1242px #FFF , 1272px 1685px #FFF , 275px 1846px #FFF , 1913px 1058px #FFF , 997px 1976px #FFF , 1638px 309px #FFF , 1816px 1665px #FFF , 766px 752px #FFF , 66px 1884px #FFF , 1214px 243px #FFF , 1117px 342px #FFF , 182px 883px #FFF , 1758px 1383px #FFF , 589px 304px #FFF , 1436px 1509px #FFF , 1348px 494px #FFF , 1721px 594px #FFF , 623px 422px #FFF , 320px 741px #FFF , 730px 717px #FFF , 180px 136px #FFF , 629px 1488px #FFF , 1154px 685px #FFF , 1644px 5px #FFF , 876px 814px #FFF , 1944px 653px #FFF , 1084px 424px #FFF , 1210px 200px #FFF , 531px 85px #FFF , 797px 165px #FFF , 1782px 327px #FFF , 10px 1603px #FFF , 888px 931px #FFF , 1356px 535px #FFF , 1515px 460px #FFF , 663px 1607px #FFF , 1344px 160px #FFF , 1982px 1965px #FFF , 775px 782px #FFF , 726px 341px #FFF , 1472px 1200px #FFF , 1868px 143px #FFF , 1582px 1299px #FFF , 566px 13px #FFF , 830px 155px #FFF , 397px 1758px #FFF , 1009px 914px #FFF , 1833px 1950px #FFF , 180px 51px #FFF , 1960px 1391px #FFF; }

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; }

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

#bb-8 {
  border: none;
  padding: 0; }

.background {
  width: 100%;
  height: 100%;
  background-color: #508FBD;
  position: absolute;
  z-index: -1;
  overflow: hidden; }
  .background .sun {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: #FFDF57;
    box-shadow: 0 0 50px #FFDF57;
    opacity: 0.9; }
  .background .sand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8be5b+0,f4b44b+100 */
    background: #f8be5b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f8be5b 0%, #f4b44b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8be5b 0%, #f4b44b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8be5b 0%, #f4b44b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8be5b', endColorstr='#f4b44b',GradientType=0 );
    /* IE6-9 */ }
    .background .sand .mountains {
      width: 100%;
      height: 60px;
      background-image: url("http://id-devspace.co.uk/bb-8/img/mountains.png");
      background-size: auto 100%;
      position: absolute;
      top: -60px;
      background-position: 300px 0;
      animation: moveBg 2s infinite ease-in-out;
      animation-direction: alternate; }

.body {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 10;
  animation: body 2s infinite ease-in-out;
  animation-direction: alternate; }
  @media screen and (max-width: 568px) {
    .body {
      bottom: 60px; } }
  .body .head {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    -webkit-transform: translateY(-95px);
    transform: translateY(-95px);
    -webkit-transform-origin: 50% 150px;
    transform-origin: 50% 150px;
    z-index: 2;
    animation: head 4s infinite ease-in-out; }
    .body .head .head-shape {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("http://id-devspace.co.uk/bb-8/img/head.png");
      background-size: 100%; }
    .body .head .eye {
      top: 35px;
      left: 50%;
      border-radius: 100%;
      width: 36px;
      margin-top: -18px;
      margin-left: -18px;
      position: absolute;
      animation: eye 4s infinite ease-in-out; }
    .body .head .antenna {
      width: 75px;
      height: 75px;
      background-image: url("http://id-devspace.co.uk/bb-8/img/antenna.png");
      background-size: auto 100%;
      position: absolute;
      z-index: -3;
      bottom: 80%;
      left: 40%;
      background-position: 2250px 0; }
  .body .shadow {
    width: 110%;
    position: absolute;
    z-index: -2;
    bottom: -20px;
    margin-left: -5%;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
  .body .depth {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("http://id-devspace.co.uk/bb-8/img/shadow.png");
    background-size: 100%;
    z-index: 2; }
  .body .inner {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("http://id-devspace.co.uk/bb-8/img/body.png");
    background-size: 100%;
    animation: inner 2s infinite alternate ease-in-out; }
    .body .inner .test {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -40px 0 0 -40px;
      width: 80px;
      height: 80px;
      background-color: red; }

@keyframes moveBg {
  0% {
    background-position: 50px 0; }
  100% {
    background-position: 0 0; } }

@keyframes body {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(200px); } }

@keyframes inner {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes head {
  0% {
    transform: translateY(-95px) rotateZ(0); }
  25% {
    transform: translateY(-95px) rotateZ(15deg); }
  50% {
    transform: translateY(-95px) rotateZ(0); }
  75% {
    transform: translateY(-95px) rotateZ(-15deg); }
  100% {
    transform: translateY(-95px) rotateZ(0); } }

@keyframes eye {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(5px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(-5px); }
  100% {
    transform: translateX(0); } }

#postcss-list {
  float: right;
  width: 350px;
  margin-top: 30px;
  font-size: 40px; }

#postcss-list li {
  margin-bottom: 20px; }

#postcss-list li::before {
  vertical-align: middle;
  content: '';
  padding: 0;
  border-bottom: 3px solid gray;
  margin-right: 30px; }

#middle::before {
  content: '';
  height: 200px;
  border: 3px solid gray;
  border-left: none;
  display: inline-block;
  vertical-align: middle; }

#intro h2 {
  font-size: 100px; }

#intro:after {
  display: none; }
