section.slide.center
  h3
    | Стартовые наборы
  ol
    li
      a(href="https://developers.google.com/web/tools/starter-kit/") Web Starter Kit
    li
      a(href="https://html5boilerplate.com/") HTML5 Boilerplate
    li
      a(href="https://github.com/tars/tars") TARS
    li
      a(href="http://use-init.com/") INIT
    li
      a(href="https://headstart.io/") Headstart
