section.slide#bootstrap
  h2
    | Фреймворки
  .grid
    a(href="")
      img(src="pictures/bootstrap.png" width="200px")
      | Bootstrap
    a(href="")
      img(src="pictures/zurb.svg" width="200px")
      | Zurb Foundation
    a(href="")
      img(src="pictures/materializecss.png" width="200px")
      | Materialize
