|<section class="slide full">
|  <h3>
|    6. Цветовые функции
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>
|
|<pre class="hightlight"><code>
|<span class="var">$red:</span> <span class="class">#ff0000</span>;
|
|<span class="tag">a</span> {
|   <span class="key">color:</span> <span class="var">$red;</span>
|   <span class="tag">&<span class="class">:hover</span></span> {
|      <span class="key">color:</span> <span class="import">lighten(<span class="var">$red</span>, 10%)</span>;
|   }
|   <span class="tag">&<span class="class">:active</span></span> {
|      <span class="key">color:</span> <span class="import">darken(<span class="var">$red</span>, 10%)</span>;
|   }
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      Результат
|    </h3>
|<div class="colors">
|<div class="color" style="background-color:#ff0000">#FF0000</div>
|<div class="color" style="background-color:#ff3333">#FF3333</div>
|<div class="color" style="background-color:#cc0000">#CC0000</div>
|</div>
|</div>
|</div>
|</section>
