|<section class="slide full">
|  <h3>
|     Наследование
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>    
|<pre class="hightlight"><code>
|.message {
|  border: 1px solid #ccc;
|  padding: 10px;
|  color: #333;
|}
|
|.success {
|  @extend .message;
|  border-color: green;
|}
|
|.error {
|  @extend .message;
|  border-color: red;
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      SCSS
|    </h3>
||<pre class="hightlight"><code>
|.message, .success, .error, .warning {
|  border: 1px solid #cccccc;
|  padding: 10px;
|  color: #333;
|}
|
|.success {
|  border-color: green;
|}
|
|.error {
|  border-color: red;
|}
|</code></pre>
|</div>
|</div>
|</section>
