|<section class="slide full">
|  <h3>
|     Наследование
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>    
|<pre class="hightlight"><code>
|<span class="selector">.message</span> {
|    border: 1px solid #ccc;
|    padding: 10px;
|    color: #333;
|}
|
|<span class="selector">.success</span> {
|    <span class="extend">@extend .message;</span>
|    border-color: green;
|}
|
|<span class="selector">.error</span> {
|    <span class="extend">@extend .message;</span>
|    border-color: red;
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      SCSS
|    </h3>
|<pre class="hightlight"><code>
|<span class="selector">.message</span>, <span class="selector">.success</span>, <span class="selector">.error</span>, <span class="selector">.warning</span> {
|    border: 1px solid #cccccc;
|    padding: 10px;
|    color: #333;
|}
|
|<span class="selector">.success</span> {
|    border-color: green;
|}
|
|<span class="selector">.error</span> {
|    border-color: red;
|}
|</code></pre>
|</div>
|</div>
|</section>
