section.slide
  h3
    | Как работает PostCSS
  .columns
    .col
      img(src="pictures/gamburger.png" width="450")
    .col.next
      ul#postcss-list
        li
          | Парсер
        li#middle
          | Плагины
        li
          | Генератор
