section.slide
  h3
    | Сборщики
  .fly-text.next(style="position:absolute; top:32%; left: 23%; z-index: 5; font-size: 36px;")
    | Grunt
  .fly-text.next(style="position:absolute; top:82%; left: 10%; z-index: 5; font-size: 36px;")
    | Gulp
  .fly-text.next(style="position:absolute; top:35%; right: 16%; z-index: 5; font-size: 36px;")
    | Webpack
  img.place.bottom(src="pictures/gg-vs-webpack.png" width="100%")
