section.slide#stylus
  h3
    | Установка на примере stylus
  ol
    li
      | Ставим глобально npm-пакет stylus
      .terminal
        | $ npm install stylus -g
    li.next
      | Запускаем компиляцию файла
      .terminal
        | stylus -w style.styl -o style.css
