|<section class="slide full">
|  <h3>
|    3. Миксины (примеси)
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>
|<pre class="hightlight"><code>
|<span class="mixin">@mixin border-radius(<span class="var">$radius</span>)</span> {
|    <span class="key">-webkit-border-radius</span>: <span class="val">$radius</span>;
|       <span class="key">-moz-border-radius</span>: <span class="val">$radius</span>;
|        <span class="key">-ms-border-radius</span>: <span class="val">$radius</span>;
|            <span class="key">border-radius</span>: <span class="val">$radius</span>;
|}
|
|<span class="tag">.box</span> {
|    <span class="import">@include</span> <span class="var">border-radius(10px)</span>;
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      CSS
|    </h3>
|<pre class="hightlight"><code>
|<span class="tag">.box</span> {
|    <span class="key">-webkit-border-radius</span>: <span class="val">10px</span>;
|       <span class="key">-moz-border-radius</span>: <span class="val">10px</span>;
|        <span class="key">-ms-border-radius</span>: <span class="val">10px</span>;
|            <span class="key">border-radius</span>: <span class="val">10px</span>;
|}
|</code></pre>
|</div>
|</div>
|</section>
