|<section class="slide full">
|  <h3>
|    2. Вложенность
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>
|<pre class="hightlight"><code>
|<span class='tag'>nav</span> {
|    <span class='tag'>ul</span> {
|        <span class="key">margin</span>:  <span class="val">0</span>;
|         <span class="key">padding</span>:  <span class="val">0</span>;
|         <span class="key">list-style</span>:  <span class="val">none</span>;
|    }
|
|    <span class='tag'>li</span></span></span> {
|         <span class="key">display</span></span>:  <span class="val">inline-block</span></span>;
|    }
|
|    <span class='tag'>a</span> {
|       <span class="key">display</span>:  <span class="val">block</span>;
|       <span class="key">padding</span>:  <span class="val">6px 12px</span>;
|       <span class="key">text-decoration</span>:  <span class="val">none</span>;
|    }
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      CSS
|    </h3>
|<pre class="hightlight"><code>
|<span class='tag'>nav ul</span> {
|     <span class="key">margin</span>:  <span class="val">0</span>;
|     <span class="key">padding</span>:  <span class="val">0</span>;
|     <span class="key">list-style</span>:  <span class="val">none</span>;
|}
|
|<span class='tag'>nav li</span></span> {
|     <span class="key">display</span>:  <span class="val">inline-block</span>;
|}
|
|<span class='tag'>nav a</span> {
|     <span class="key">display</span>:  <span class="val">block</span>;
|     <span class="key">padding</span>:  <span class="val">6px 12px</span>;
|     <span class="key">text-decoration</span>:  <span class="val">none</span>;
|}
|</code></pre>
|</div>
|</div>
|</section>
