|<section class="slide full">
|  <h3>
|     Миксиниы (примеси)
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>
|<pre class="hightlight"><code>
|nav {
|  ul {
|    margin: 0;
|    padding: 0;
|    list-style: none;
|  }
|
|  li { display: inline-block; }
|
|  a {
|    display: block;
|    padding: 6px 12px;
|    text-decoration: none;
|  }
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      SCSS
|    </h3>
|<pre class="hightlight"><code>
|nav ul {
|  margin: 0;
|  padding: 0;
|  list-style: none;
|}
|
|nav li {
|  display: inline-block;
|}
|
|nav a {
|  display: block;
|  padding: 6px 12px;
|  text-decoration: none;
|}
|</code></pre>
|</div>
|</div>
|</section>
