section.slide.clear
  video(class="video-item vsc-initialized" height="100%" width="100%" poster="https://assets.awwwards.com/awards/external/2017/02/awwwards-basicagency-project-page_static.jpeg" autoplay="true" loop="" data-vscid="7fwak7elq")
    source(src="https://assets.awwwards.com/awards/external/2017/02/awwwards-basicagency-project-page.mp4" type="video/mp4")
