section.slide.center#plugins
  h2
    | Плагины
  ul
    li
      a(href="https://github.com/postcss/autoprefixer") Autoprefixer
    li.next
      a(href="https://github.com/cuth/postcss-pxtorem") Pxtorem
    li.next
      a(href="https://github.com/jonathantneal/precss") Precss
    li.next
      a(href="https://github.com/jonathantneal/oldie") Oldie
    li.next
      a(href="https://github.com/stylelint/stylelint") Stylelint
    li.next
      a(href="https://github.com/azat-io/postcss-instagram") Postcss-instagram
    li.next
      a(href="https://github.com/Semigradsky/postcss-russian-stylesheets") Postcss-russian-stylesheets
