section.slide
  h3
    | Как работают препроцессоры
  .left
    span
      | Препроцессор
    div
      | style.less
  .middle
    span
      | Компилятор
    div

  .right
    span
      | CSS
    div
      | style.css
