section.slide.white#bb-8
  .background
      .body
        .shadow
        .depth
        .inner
        .head
          .head-shape
          img.eye(src='http://id-devspace.co.uk/bb-8/img/eye.png', alt='')
          .antenna
      .sun
      .sand
        .mountains
