section.slide
  .columns.center
    .column(style="font-size:16px; line-height:1")
      | <pre><code>
      |base/
      |├  _root.scss
      |├  _normalize.scss
      |└ _typography.scss
      |
      |component/
      |├  _buttons.scss
      |├  _teaser.scss
      |├  _teaser-list.scss
      |└  _menu.scss
      |
      |layout/
      |├  _blog.scss
      |├  _article.scss
      |└  _home.scss
      |
      |style.scss
      |</code></pre>
    .column
      p
        a(href="https://smacss.com/")
          img(src="pictures/smacss.jpg" width="300")
      p
        a(href="https://ru.bem.info/methodology/")
          img(src="pictures/bem.svg" width="300")
