section.slide
  .columns
    .col
      |<pre class="hightlight"><code>
      |base/
      |├  _root.scss
      |├  _normalize.scss
      |└  _typography.scss
      |
      |component/
      |├  _buttons.scss
      |├  _teaser.scss
      |├  _teaser-list.scss
      |└  _menu.scss
      |
      |layout/
      |├  _blog.scss
      |├  _article.scss
      |└  _home.scss
      |
      |style.scss
      |</code></pre>
    .col
      |<pre class="hightlight"><code>
      |<span class="comment">// base</span>
      |<span class="import">@import</span> _root;
      |<span class="import">@import</span> _normalize;
      |<span class="import">@import</span> _typography;
      |
      |<span class="comment">// layout</span>
      |<span class="import">@import</span> _blog;
      |<span class="import">@import</span> _article;
      |<span class="import">@import</span> _home;
      |
      |<span class="comment">// components</span>
      |<span class="import">@import</span> _buttons;
      |<span class="import">@import</span> _teaser;
      |<span class="import">@import</span> _teaser-list;
      |<span class="import">@import</span> _menu;
      |</code></pre>
