section.slide.black#css-power
  #stars
  #stars2
  #stars3
  svg(viewbox='0 0 800 600')
    symbol#s-text
      text.text--line(text-anchor='middle', x='50%', y='35%')
        | Возможности
      text.text--line2(text-anchor='middle', x='50%', y='68%')
        | CSS
    g.g-ants
      use.text-copy(xlink:href='#s-text')
      use.text-copy(xlink:href='#s-text')
      use.text-copy(xlink:href='#s-text')
      use.text-copy(xlink:href='#s-text')
      use.text-copy(xlink:href='#s-text')

  //- #title
  //-   span
  //-     | ВОЗМОЖНОСТИ
  //-   br
  //-   span
  //-     | СОВРЕМЕННОГО CSS
