- 
  var items = {
    "CodeKit": "https://codekitapp.com/",
    "Compass.app": "",
    "Ghostlab": "",
    "Koala": "",
    "LiveReload": "",
    "Prepros": "",
    "Scout": ""
  }
section.slide.center
  h3
    | GUI программы
  ol.list-feature
    each val,key in items
      li
        a(href=val)
          | #{key}
