section.slide#drupal
  h2
    | Темы Drupal
  .grid
    a(href="")
      img(src="pictures/zen-logo.png" width="200px")
    a(href="")
      img(src="pictures/adaptivethemes.png" width="200px")
  .grid
    a(href="")
      img(src="pictures/bootstrap_drupal.png" width="200px")
    a(href="")
      img(src="pictures/omega.png" width="200px")
