|<section class="slide full">
|  <h3>
|    1. Переменные
|  </h3>
|  <div class="columns code">
|    <div class="col">
|      <h3>
|        SCSS
|      </h3>
|
|<pre class="hightlight"><code>
|<span class="var">$font-stack</span>: <span class="class">Helvetica, sans-serif</span>;
|<span class="var">$primary-color:</span> <span class="class">#333</span>;
|
|<span class="tag">body</span>{
|   <span class="key">font</span>: <span class="var">$font-stack</span>;
|   <span class="key">background-color:</span> <span class="var">$primary-color</span>;
|}
|</code></pre>
|</div>
|  <div class="col">
|    <h3>
|      CSS
|    </h3>
|<pre class="hightlight"><code>
|
|<span class="tag">body</span> {
|   <span class="key">font</span>: <span class="val">100% Helvetica, sans-serif</span>;
|   <span class="key">background-color</span>: <span class="val">#efefef</span>;
|}
|</code></pre>
|</div>
|</div>
|</section>
