doctype
html(lang="ru")
head
  title
    | Theming Drupal 8
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i" rel="stylesheet")
  link(rel="stylesheet" href="node_modules/shower-material/styles/screen-4x3.css")
  link(rel="stylesheet" href="css/main.css")
body.shower.list
  include base/header
  include slides/slide-intro
  include slides/old-site
  include slides/site2010
  include slides/new-site
  //- include slides/slide-power-css
  //- include slides/slide-bb-8
  include slides/preproc
  include slides/preprocess-work
  include slides/why
  include slides/vars
  include slides/nesting
  include slides/mixins
  include slides/import
  //- include slides/architecture
  //- include slides/slide1
  include slides/extends
  include slides/colors
  include slides/math
  include slides/cool
  include slides/postcss
  include slides/gamburger
  include slides/plugins
  //- include slides/choice
  include slides/choice-2
  include slides/sass-postcss
  include slides/use
  include slides/software
  include slides/node-npm
  include slides/install-stylus
  include slides/grunt-gulp
  include slides/boilerplates
  include slides/adci
  //- include slides/bootstrap
  include slides/themes
  include slides/finish
  include base/footer
  .progress
  script(src="node_modules/shower-core/shower.min.js")
