body {
  font-family: $arial;
  font-size: 16px;
  line-height: 1.2;
}
pre {
  &.hightlight {
    background: rgba($blue, .2);
    border-radius: 5px;
    margin-top: 10px;
  }
}
code {
  font-size: 14px;
  line-height: 1;
  .comment {
    font-style: italic;
    color: gray;
  }
  .import {
    color: $blue;
  }
  .selector {
    color: rgb(143, 3, 52);
  }
  .extend,
  .mixin {
    color: purple;
  }
}
.caption {
  background: $blue linear-gradient(135deg, $blue 50%, $blue-dark 50%);
}
.slide::after {
  padding-top: 0;
  top: 10px;
  right: 10px;
  left: auto;
  background: url('../pictures/drop.svg');
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  color: $blue;
  padding-top: 20px;
}
.slide.black::after {
  visibility: visible;
  color: $green;
}
.slide {
  font-family: $arial;
  border: 15px solid $blue;
  border-radius: 5px;
  padding: 60px 60px 0;
  &.full {
    padding: 30px 60px;
  }
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &.wide {
    border: none;
  }
  &.clear {
    border: none;
    padding: 0;
    &:after {
      opacity: 0;
    }
  }
}
.progress {
  background: $green;
  box-shadow: none;
}
.slide h2 {
  font-family: $arial;
  font-size: 64px;
  color: blue;
  text-align: center;
  font-weight: 900;
}
.slide h2:after {
  display: block;
  margin: 20px auto;
  content: '';
  width: 50px;
  border-top: 4px solid $blue;
}
.slide h3 {
  font-size: 40px;
  color: $gray;
}
.black h3 {
  color: white;
}
.columns {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  &.center {
    align-items: center;
  }
}
.col {
  width: 50%;
  padding: 0 30px;
  flex: 1 0 50%;
  h3 {
    background: rgba($green, .5);
    padding: 5px 15px;
    font-size: 24px;
    border-radius: 5px;
  }
}
#postcsssass {
  background: $red;
}
#stylus {
  h3 {
    margin-bottom: 30px;
  }
}
.terminal {
  padding: 10px 20px;
  background-color: gray;
  border-left: 3px solid $green;
  margin-bottom: 30px;
  text-indent: 0;
}
#adci {
  > a {
    text-align: center;
  }
}
.grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#bootstrap {
  padding-top: 100px;
  h2 {
    margin-bottom: 50px;
  }
  a {
    background: none;
    text-align: center;
    border-bottom: none;
  }
  img {
    display: block;
  }
}
#drupal {
  .grid {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  a {
    background: none;
    margin-bottom: 40px;
  }
}
.qr {
  text-align: center;
  img {
    display: block;
    margin-bottom: 5px;
  }
  a {
    display: inline-block;
  }
}
